<%= render partial: "nav" %>
<div id="vivus-body">
  <ul class="vivus-sections">
    <li class="vivus-section">
      <h2>Styleguide</h2>
      <h1 class="vivus-section-title">Icons</h1>

      <p>Above each block of code in your CSS, start documenting your styleguide by writing comments.</p>
      <p>Use the below example as a starting point.</p>
    </li>
  </ul>
</div>


