<div id="vivus-header">
  Styleguide
</div>

<%= render partial: "nav" %>

<div id="vivus-body">
  <ul class="vivus-sections">
    <li class="vivus-section">
      <h1 class="vivus-section-title">Airzone</h1>
      <div class="vivus-documentation">
        <p>Guía de estilo de Airzone Cloud</p>
      </div>
    </li>
  </ul>
</div>


