#vivus-body {
  padding-top: 80px;
  margin-left: 250px;
  background: white;
  min-height: 100%;

  @include respond-to("small") {
    margin: 0;
    padding: 20px;
  }

  ul.vivus-sections {
    margin: 0;
    padding: 30px;
    max-width: 1024px;

    li.vivus-section {
      list-style: none;
      margin-bottom: 40px;

      ul.vivus-components {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}

#vivus-header {
  z-index: 1000001;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 2em;
  height: 80px;
  line-height: 80px;
  padding: 0 24px;
  border-bottom: 1px solid #DFE1E8;
  background: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  color: #454444;
  text-transform: none;
}
